* {
  margin: 0;
  padding: 0;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

body {
  background: #f3f3f3;
  color: #444;
  font: normal 16px/1.5 Arial, sans-serif;
  letter-spacing: -0.04em;
}

abbr[title] { border-bottom: 1px dotted; }

a {
  color: #3671a1;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

strong { font-weight: bold; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend { border: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

button, input { line-height: normal; }
button, select { text-transform: none; }

button[disabled], html input[disabled] { cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  margin-top: 30px;
}

table td {
  padding: 10px;
}

table thead td {
  background: #cb5a5b;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

table tbody tr:nth-child(2n+2) {
  background: #ffd;
}
